		body {
			background-color: grey;	
		}

		#my_journal {
			background-color: linen;
			width:80%;
			margin:auto;
			padding: 1em;
				font-family: Florence, cursive;
		}
		h1 {
			color: maroon;
			font-family: Florence, cursive;
			font-size: 3.25em;
			margin-top: -.1em;
			margin-bottom: 1em;

		} 
		h2 {
			background-color: maroon;
			color: white;
			padding-left: .25em;
		}

		section {
			border-bottom: 1.5px dotted maroon;
			padding-bottom: 1em;
		}

		div #val_day {
			background-color: pink !important;
			padding: .15em 1em .5em 1em;
			border: 1px dotted red;
		}

		div #val_day h2 {
			color: red;
		}