body {
  background-color: black;
}

#my_journal {
  background-color: #FFF;
  border: 25px solid turquoise;
  border-radius: 5px;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  margin: auto;
  padding: 1em;
  width: 80%;
}

div #header {
  overflow: auto;
}

div #top_part {
  padding-bottom: 1em;
  }

h1 {
  color: black;
  float: left;
  font-family: 'Clicker Script', cursive;
  font-size: 3.5em;
  margin: -.1em 0 .75em 0;
  padding: .5em 0 .0 0;
}

#top_nav ul {
  float: right;
  list-style-type: none;
  margin-right: .35em;
  padding: 0;
  text-align: right;
}

#top_nav li {
  font-family: 'Clicker Script', cursive;
  font-size: 1.5em;
}

#main_nav {
  background-color: lightyellow;
  border-bottom: 6.5px dotted turquoise;
  border-top: 6.5px dotted turquoise;
  /*Before looking at the example, I commented this out as determined this was somehow affecting the ability for the bar to stick at all*/
  /*position: relative;*/
  /*top: 10;*/
  /*width: 100%;*/
}

.sticky {
  /*After looking at the example, I see this is redundant*/
  /*background-color: lightyellow;
  border-bottom: 6.5px dotted turquoise;
  border-top: 6.5px dotted turquoise;*/
  position: fixed;
  top: 0;
  width: 79%;
}

#main_nav ul {
  list-style-type: none;
  margin: 0 auto;
  margin-top: .75em;
  margin-bottom: .75em;
  padding: 0;
  text-align: center;
}

#main_nav li {
  display: inline;
  font-family: 'Clicker Script', cursive;
  font-size: 1.5em;
  padding: 2.5em;
}

#content {
  margin-right: .15em;
}

/*Link to possibly figuring out how to make sticky nav work with anchors: https://pixelflips.com/blog/anchor-links-with-a-fixed-header*/

.anchor {
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
}
	h2  {
			background-color: #DB5844;
			border-radius: 5px;
			color: white;
			font-family: 'Clicker Script', cursive;
			padding-left: .25em;
		}

		h3 {
			font-family: 'Clicker Script', cursive;
			font-size: 1.5em;
			margin-bottom: -.75em;
		}


		h4 {
			margin-bottom: -.75em;
			font-weight: bold;
			margin-left: 1.4em;
		}

		a:link, a:visited, a:active {
			color: #DB5844;
			font-weight: bold;
			text-decoration: none;
		}

		a:hover {
			color: turquoise;
		}

		section {
			border-bottom: 4.5px dotted turquoise;
			padding-bottom: 1em;
		}

		img {
			margin-right: 2em;
			padding-top: 1em;
		}

		div .questions p {
			color: #c2b280;
		}

		div #drawing_design_one {
			float:left;
		}

		div #float_images {
			overflow: auto;
		}

		div #val_day {
			background-color: #AD403F !important;
			color: white !important;
			margin-top: 1em;
			padding: .5em 1em .5em 1em;
			border: 1px dotted #582122;
		}

		footer {
			text-align: right;
			font-family: 'Clicker Script', cursive; 
    		font-size: 2em;
    		margin: 0 .25em -.75em 0;
		}

